
  <div class="row"></div>
  <% @items.each do |item| %>
    <div class="col-sm-3">
      <h5><%= item["name"] %></h5>
        <%= item["description"] %>
        <%= item["sku"] %>
       
      </p>
    </div>
  <% end %>
</div>

